/* app css stylesheet */
body{
	padding-top:0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1px;	
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #292b2c;
  background-color: #fff;
}
.navbar{
  margin-top: 0;
  margin-left: -5px;
  margin-right: -5px;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  margin-top: 0;
  padding: 0 0 0.5em;
  background-color: #fb768e;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
/*IMAGES*/
.img-fluid{
    display: block;
    max-width: 100%;
    height: auto;
}
}

/*BUTTON GROUP*/
.btn-group, .btn-group-vertical {
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.btn.btn-sm.btn-table {
    padding: .5rem .9rem;
}
.btn+.dropdown-toggle-split::after, .btn-group>.btn:first-child {
    margin-left: 0;
}
.btn-group .btn {
    margin: 0;
}
.btn.btn-sm {
    font-size: .6rem;
    padding: .5rem 1.6rem;
}
.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}
.btn-rounded {
    border-radius: 10em;
}
.btn-primary {
    background: #4285F4;
}
.btn {
    font-size: .8rem;
    padding: .85rem 2.13rem;
    border-radius: 2px;
    border: 0;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    color: #fff!important;
    margin: 6px;
    white-space: normal!important;
    word-wrap: break-word;
}
.btn, .btn-flat, .classic-tabs li a, footer.page-footer .title {
    text-transform: uppercase;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}
#toast-container>div, .author-box, .badge, .btn, .btn-floating, .card, .card-cascade-2 .card-block, .card-cascade.wider .card-block, .card-wrapper .back, .card-wrapper .front, .cascading-media .view, .chip, .dropdown-content, .dropdown-menu, .jumbotron, .list-group, .modal-dialog.cascading-modal .modal-c-tabs .nav-tabs, .modal-dialog.modal-notify .modal-header, .navbar, .navbar .nav-item .dropdown-menu.dropdown a:active, .navbar .nav-item .dropdown-menu.dropdown a:focus, .navbar .nav-item .dropdown-menu.dropdown a:hover, .pager li a, .pagination .active .page-link, .popover, .pricing-card .price .version, .section-blog-fw .view, .side-nav, .social-list, .z-depth-1 {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
}
.btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}
.btn {
    display: inline-block;
    line-height: 1.25;
    text-align: center;
    vertical-align: middle;
    user-select: none;
}
.btn, .btn-link, .dropdown-item {
    font-weight: 400;
}
.pswp__container, .pswp__img, .waves-effect, a, html {
    -webkit-tap-highlight-color: transparent;
}
.btn, .custom-control-indicator {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}