<!--
<h3> Form</h3>
<p> This form is unit test automated and use of $watch</p> 
<h1>{{about.title}}</h1>
<p>{{about.body}}</p>
<hr />
<div>
    <h2 class="text-error">About: {{about.message}}</h2>
    <form class="form-inline">
        <input type="text" class="form-control" ng-model="about.message" placeholder="Message" />
        <button type="submit" class="btn btn-default" ng-click="about.updateMessage(about.message)">Update Message</button>
    </form>
</div>
<hr/>
<div> <h3>Button Disable</h3></div>
<div>
	<label>
		<input type="checkbox" ng-model="checked"/>
		<button ng-disabled="checked" ng-click="buttonclick();">{{buttontext}}</button>
	</label>
</div>
<hr/>
<div> <h3></h3></div>
<div>

</div>
-->
<div class="container">
	<div class="col-sm-12">
		Click on the links on the side to see some sample controls created in Angular.
	</div>
</div>